<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_type.name %>
</p>

<p>
  <strong>Mileage interval:</strong>
  <%= number_with_delimiter(@service_type.mileage_interval) %>
</p>

<p>
  <strong>Month interval:</strong>
  <%= @service_type.month_interval %>
</p>

<%= link_to 'Edit', edit_service_type_path(@service_type) %> |
<%= link_to 'Back', service_types_path %>
