<%= form_for(@vehicle_assignment) do |f| %>
  <% if @vehicle_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle_assignment.errors.count, "error") %> prohibited this vehicle assignment from being saved:</h2>

      <ul>
      <% @vehicle_assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.collection_select :user_id, User.all.order("email asc"), :id, :email, {}, html_options = { :class => "form-control" } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.collection_select :vehicle_id, Vehicle.all.order("id asc"), :id, :number, {}, { class: "form-control" }  %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.submit 'Submit', class: "form-control" %>
    </div>
  </div>

<% end %>
