<h1>Vehicle Assignments</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Vehicle ID</th>
      <th>User ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_assignments.each do |vehicle_assignment| %>
      <tr>
        <td><%= vehicle_assignment.vehicle_id %></td>
        <td><%= vehicle_assignment.user_id %></td>
        <td><%= link_to 'Show', vehicle_assignment %></td>
        <td><%= link_to 'Edit', edit_vehicle_assignment_path(vehicle_assignment) %></td>
        <td><%= link_to 'Destroy', vehicle_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle Assignment', new_vehicle_assignment_path %>

