<h2>User Profile</h2>
<%= link_to "Change your password", edit_user_registration_path %>
<% if @vehicles %>
<div>
	<strong>Vehicle Assignments</strong>
	<ul>
  	<% @vehicles.each do |x| %>
  		<li>
        <div class="vehicle_with_report">
          <%= form_tag new_weekly_report_path, method: :get, :class => "form-inline" do %>
            <%= link_to "Vehicle #{x.number}", vehicle_path(x) %>
            <%= hidden_field_tag :vehicle_id, x.id %>
            <%= submit_tag "New Weekly Report", name: nil, :class => "btn btn-primary" %>
          <% end %>
        </div>
  		</li>
  	<% end %>
	</ul>
</div>
<% end %>