<h1>Listing checked_item_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checked_item_types.each do |checked_item_type| %>
      <tr>
        <td><%= checked_item_type.name %></td>
        <td><%= link_to 'Show', checked_item_type %></td>
        <td><%= link_to 'Edit', edit_checked_item_type_path(checked_item_type) %></td>
        <td><%= link_to 'Destroy', checked_item_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checked item type', new_checked_item_type_path %>
