<p id="notice"><%= notice %></p>
<p>
  <strong>Mileage:</strong>
  <%= @vehicle_inspection_report.mileage %>
</p>
<p>
  <strong>Vehicle:</strong>
  <%= @vehicle_inspection_report.vehicle_service_record.vehicle.number %>
</p>
<p>
  <strong>Technician:</strong>
  <%= @vehicle_inspection_report.user.full_name %>
</p>
<p>
  <strong>Date:</strong>
  <%= @vehicle_inspection_report.created_at.strftime("%B %d, %Y") %>
</p>

<table class="table table-bordered table-condensed">
  <tr>
    <th class="col-md-3">Service Item</th>
    <th class="col-md-2">Serviced?</th>
    <th class="col-md-7">Comment</th>
  </tr>
  <tr>
    <th>Oil Change</th>
    <td><%= @vehicle_inspection_report.oil_change %></td>
    <td><%= @vehicle_inspection_report.oil_change_comments %></td>
  </tr>
   <tr>
    <th>Oil Filter</th>
    <td><%= @vehicle_inspection_report.oil_filter %></td>
    <td><%= @vehicle_inspection_report.oil_filter_comment %></td>
  </tr>
  <tr>
    <th>Transmission Service</th>
    <td><%= @vehicle_inspection_report.transmission_service %></td>
    <td><%= @vehicle_inspection_report.transmission_service_comments %></td>
  </tr>
  <tr>
    <th>Brake Service</th>
    <td><%= @vehicle_inspection_report.brake_service %></td>
    <td><%= @vehicle_inspection_report.brake_service_comments %></td>
  </tr>
  <tr>
    <th>Emergency Brake Adjustment</th>
    <td><%= @vehicle_inspection_report.emergency_brake_adjustment %></td>
    <td><%= @vehicle_inspection_report.emergency_brake_adjustment_comment %></td>
  </tr>
  <tr>
    <th>Tire Wear</th>
    <td><%= @vehicle_inspection_report.tire_wear %></td>
    <td><%= @vehicle_inspection_report.tire_wear_comment %></td>
  </tr>
  <tr>
    <th>Tires Rotated</th>
    <td><%= @vehicle_inspection_report.tires_rotated %></td>
    <td><%= @vehicle_inspection_report.tires_rotated_comment %></td>
  </tr>
  <tr>
    <th>Battery</th>
    <td><%= @vehicle_inspection_report.battery %></td>
    <td><%= @vehicle_inspection_report.battery_comment %></td>
  </tr>
  <tr>
    <th>Battery Cables</th>
    <td><%= @vehicle_inspection_report.battery_cables %></td>
    <td><%= @vehicle_inspection_report.battery_cables_comment %></td>
  </tr>
  <tr>
    <th>Spark Plug Wires</th>
    <td><%= @vehicle_inspection_report.spark_plug_wires %></td>
    <td><%= @vehicle_inspection_report.spark_plug_wires_comment %></td>
  </tr>
  <tr>
    <th>Radiator Coolant</th>
    <td><%= @vehicle_inspection_report.radiator_coolant %></td>
    <td><%= @vehicle_inspection_report.radiator_coolant_comment %></td>
  </tr>
  <tr>
    <th>Radiator Hoses</th>
    <td><%= @vehicle_inspection_report.radiator_hoses %></td>
    <td><%= @vehicle_inspection_report.radiator_hoses_comment %></td>
  </tr>
  <tr>
    <th>Heater Hoses</th>
    <td><%= @vehicle_inspection_report.heater_hoses %></td>
    <td><%= @vehicle_inspection_report.heater_hoses_comment %></td>
  </tr>
  <tr>
    <th>Air Conditioner</th>
    <td><%= @vehicle_inspection_report.air_conditioner %></td>
    <td><%= @vehicle_inspection_report.air_conditioner_comment %></td>
  </tr>
  <tr>
    <th>Air Filter</th>
    <td><%= @vehicle_inspection_report.air_filter %></td>
    <td><%= @vehicle_inspection_report.air_filter_comment %></td>
  </tr>
  <tr>
    <th>Fuel Filter</th>
    <td><%= @vehicle_inspection_report.fuel_filter %></td>
    <td><%= @vehicle_inspection_report.fuel_filter_comment %></td>
  </tr>
    <tr>
    <th>Exhaust System</th>
    <td><%= @vehicle_inspection_report.exhaust %></td>
    <td><%= @vehicle_inspection_report.exhaust_comment %></td>
  </tr>
  <tr>
    <th>Drive Belts</th>
    <td><%= @vehicle_inspection_report.drive_belts %></td>
    <td><%= @vehicle_inspection_report.drive_belts_comment %></td>
  </tr>
  <tr>
    <th>Headlights</th>
    <td><%= @vehicle_inspection_report.headlights %></td>
    <td><%= @vehicle_inspection_report.headlights_comment %></td>
  </tr>
  <tr>
    <th>Brake Lights</th>
    <td><%= @vehicle_inspection_report.brake_lights %></td>
    <td><%= @vehicle_inspection_report.brake_lights_comment %></td>
  </tr>
  <tr>
    <th>Tail Lights</th>
    <td><%= @vehicle_inspection_report.tail_lights %></td>
    <td><%= @vehicle_inspection_report.tail_lights_comment %></td>
  </tr>
  <tr>
    <th>Turn Signals</th>
    <td><%= @vehicle_inspection_report.turn_signals %></td>
    <td><%= @vehicle_inspection_report.turn_signals_comment %></td>
  </tr>
  <tr>
    <th>Wiper Blades</th>
    <td><%= @vehicle_inspection_report.wiper_blades %></td>
    <td><%= @vehicle_inspection_report.wiper_blades_comment %></td>
  </tr>
  <tr>
    <th>Windshield</th>
    <td><%= @vehicle_inspection_report.windshield %></td>
    <td><%= @vehicle_inspection_report.windshield_comment %></td>
  </tr>
  <tr>
    <th>Side Windows</th>
    <td><%= @vehicle_inspection_report.side_windows %></td>
    <td><%= @vehicle_inspection_report.side_windows_comment %></td>
  </tr>
  <tr>
    <th>Rear Window</th>
    <td><%= @vehicle_inspection_report.rear_window %></td>
    <td><%= @vehicle_inspection_report.rear_window_comment %></td>
  </tr>
  <tr>
    <th>Mirrors</th>
    <td><%= @vehicle_inspection_report.mirrors %></td>
    <td><%= @vehicle_inspection_report.mirrors_comment %></td>
  </tr>
  <tr>
    <th>Seatbelts</th>
    <td><%= @vehicle_inspection_report.seatbelts %></td>
    <td><%= @vehicle_inspection_report.seatbelts_comment %></td>
  </tr>
</table>

<%= link_to 'Back', vehicle_inspection_reports_path %>
