<p id="notice"><%= notice %></p>

<p>
  <strong>Mileage:</strong>
  <%= @vehicle_inspection_report.mileage %>
</p>
<p>
  <strong>Vehicle:</strong>
  <%= @vehicle_inspection_report.vehicle_service_record.vehicle.number %>
</p>
<p>
  <strong>Technician:</strong>
  <%= @vehicle_inspection_report.user.email %>
</p>
<p>
  <strong>Date:</strong>
  <%= @vehicle_inspection_report.created_at %>
</p>

<p>
  <strong>Engine Oil:</strong>
  <%= @vehicle_inspection_report.oil_change %>
</p>

<p>
  <strong>Engine Oil comment:</strong>
  <%= @vehicle_inspection_report.oil_change_comments %>
</p>
<p>
  <strong>Transmission Fluid:</strong>
  <%= @vehicle_inspection_report.transmission_service %>
</p>

<p>
  <strong>Transmission Fluid comment:</strong>
  <%= @vehicle_inspection_report.transmission_service_comments %>
</p>
<p>
  <strong>Brake Hydraulic System:</strong>
  <%= @vehicle_inspection_report.brake_service %>
</p>

<p>
  <strong>Brake Hydraulic System comment:</strong>
  <%= @vehicle_inspection_report.brake_service_comments %>
</p>


<p>
  <strong>Tire wear:</strong>
  <%= @vehicle_inspection_report.tire_wear %>
</p>

<p>
  <strong>Tire wear comment:</strong>
  <%= @vehicle_inspection_report.tire_wear_comment %>
</p>

<p>
  <strong>Emergency brake adjustment:</strong>
  <%= @vehicle_inspection_report.emergency_brake_adjustment %>
</p>

<p>
  <strong>Emergency brake adjustment comment:</strong>
  <%= @vehicle_inspection_report.emergency_brake_adjustment_comment %>
</p>

<p>
  <strong>Exhaust:</strong>
  <%= @vehicle_inspection_report.exhaust %>
</p>

<p>
  <strong>Drive belts:</strong>
  <%= @vehicle_inspection_report.drive_belts %>
</p>

<p>
  <strong>Radiator coolant:</strong>
  <%= @vehicle_inspection_report.radiator_coolant %>
</p>

<p>
  <strong>Radiator hoses:</strong>
  <%= @vehicle_inspection_report.radiator_hoses %>
</p>

<p>
  <strong>Heater hoses:</strong>
  <%= @vehicle_inspection_report.heater_hoses %>
</p>

<p>
  <strong>Battery cables:</strong>
  <%= @vehicle_inspection_report.battery_cables %>
</p>

<p>
  <strong>Spark plug wires:</strong>
  <%= @vehicle_inspection_report.spark_plug_wires %>
</p>

<p>
  <strong>Oil filter:</strong>
  <%= @vehicle_inspection_report.oil_filter %>
</p>

<p>
  <strong>Air filter:</strong>
  <%= @vehicle_inspection_report.air_filter %>
</p>

<p>
  <strong>Fuel filter:</strong>
  <%= @vehicle_inspection_report.fuel_filter %>
</p>

<p>
  <strong>Wiper blades:</strong>
  <%= @vehicle_inspection_report.wiper_blades %>
</p>

<p>
  <strong>Headlights:</strong>
  <%= @vehicle_inspection_report.headlights %>
</p>

<p>
  <strong>Brake lights:</strong>
  <%= @vehicle_inspection_report.brake_lights %>
</p>

<p>
  <strong>Tail lights:</strong>
  <%= @vehicle_inspection_report.tail_lights %>
</p>

<p>
  <strong>Turn signals:</strong>
  <%= @vehicle_inspection_report.turn_signals %>
</p>

<p>
  <strong>Air conditioner:</strong>
  <%= @vehicle_inspection_report.air_conditioner %>
</p>

<p>
  <strong>Seatbelts:</strong>
  <%= @vehicle_inspection_report.seatbelts %>
</p>

<p>
  <strong>Mirrors:</strong>
  <%= @vehicle_inspection_report.mirrors %>
</p>

<p>
  <strong>Windshield:</strong>
  <%= @vehicle_inspection_report.windshield %>
</p>

<p>
  <strong>Rear window:</strong>
  <%= @vehicle_inspection_report.rear_window %>
</p>

<p>
  <strong>Side windows:</strong>
  <%= @vehicle_inspection_report.side_windows %>
</p>

<p>
  <strong>Exhaust comment:</strong>
  <%= @vehicle_inspection_report.exhaust_comment %>
</p>

<p>
  <strong>Drive belts comment:</strong>
  <%= @vehicle_inspection_report.drive_belts_comment %>
</p>

<p>
  <strong>Radiator coolant comment:</strong>
  <%= @vehicle_inspection_report.radiator_coolant_comment %>
</p>

<p>
  <strong>Radiator hoses comment:</strong>
  <%= @vehicle_inspection_report.radiator_hoses_comment %>
</p>

<p>
  <strong>Heater hoses comment:</strong>
  <%= @vehicle_inspection_report.heater_hoses_comment %>
</p>

<p>
  <strong>Battery cables comment:</strong>
  <%= @vehicle_inspection_report.battery_cables_comment %>
</p>

<p>
  <strong>Spark plug wires comment:</strong>
  <%= @vehicle_inspection_report.spark_plug_wires_comment %>
</p>

<p>
  <strong>Oil filter comment:</strong>
  <%= @vehicle_inspection_report.oil_filter_comment %>
</p>

<p>
  <strong>Air filter comment:</strong>
  <%= @vehicle_inspection_report.air_filter_comment %>
</p>

<p>
  <strong>Fuel filter comment:</strong>
  <%= @vehicle_inspection_report.fuel_filter_comment %>
</p>

<p>
  <strong>Wiper blades comment:</strong>
  <%= @vehicle_inspection_report.wiper_blades_comment %>
</p>

<p>
  <strong>Headlights comment:</strong>
  <%= @vehicle_inspection_report.headlights_comment %>
</p>

<p>
  <strong>Brake lights comment:</strong>
  <%= @vehicle_inspection_report.brake_lights_comment %>
</p>

<p>
  <strong>Tail lights comment:</strong>
  <%= @vehicle_inspection_report.tail_lights_comment %>
</p>

<p>
  <strong>Turn signals comment:</strong>
  <%= @vehicle_inspection_report.turn_signals_comment %>
</p>

<p>
  <strong>Air conditioner comment:</strong>
  <%= @vehicle_inspection_report.air_conditioner_comment %>
</p>

<p>
  <strong>Seatbelts comment:</strong>
  <%= @vehicle_inspection_report.seatbelts_comment %>
</p>

<p>
  <strong>Mirrors comment:</strong>
  <%= @vehicle_inspection_report.mirrors_comment %>
</p>

<p>
  <strong>Windshield comment:</strong>
  <%= @vehicle_inspection_report.windshield_comment %>
</p>

<p>
  <strong>Rear window comment:</strong>
  <%= @vehicle_inspection_report.rear_window_comment %>
</p>

<p>
  <strong>Side windows comment:</strong>
  <%= @vehicle_inspection_report.side_windows_comment %>
</p>

<%= link_to 'Edit', edit_vehicle_inspection_report_path(@vehicle_inspection_report) %> |
<%= link_to 'Back', vehicle_inspection_reports_path %>
