<% if @checklist.checklist_type.vehicle_report %>
  <h1><%= @checklist.checklist_type.name %> for vehicle <%= @checklist.vehicle.number %></h1>
<% else %>
  <h1><%= @checklist.checklist_type.name %></h1>
<% end %>


<%= render 'form' %>

<%= link_to 'Back', user_path(current_user.id) %>
