<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @checklist.name %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @checklist.comments %>
</p>

<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %>
