<% @overdue_services.each do |service_list| %>
  <% service_list.each_key do |overdue_service| %>
    <tr>
      <% if service_list[overdue_service][:due_mileage] > 0 %>
        <td><%= overdue_service.to_s %></td>
        <td><%= link_to service_list[overdue_service][:vehicle].number, vehicle_path(service_list[overdue_service][:vehicle]) %></td>
        <td><%= service_list[overdue_service][:vehicle].current_mileage %></td>
        <td><%= service_list[overdue_service][:due_mileage] %></td>
        <td><%= service_list[overdue_service][:due_date] %></td>
        <% if service_list[overdue_service][:vehicle].vehicle_assignment %>
          <td><%= service_list[overdue_service][:vehicle].vehicle_assignment.user.email %></td>
        <% else %>
          <td>None assigned</td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
<% end %>