<div class="container">
  <div class="row">
    <h1 class="col-md-3">Vehicle <%= @vehicle.number %></h1>   
  </div>
  <div class="btn btn-info toggle hoverable">
		Current Service History
    <div class='popup'>Click to view the full service history</div>
	</div>
	<div class="btn btn-warning toggle hoverable" style="display: none;">
		Full Service History
    <div class='popup'>Click to view the current service history</div>
	</div>
  <div class="col-md-4" style="float: right;">
    <div class="well">
      <ul>
        <li>
          <strong>Current Mileage: </strong><%= link_to number_with_delimiter(@vehicle.current_mileage), edit_vehicle_path(@vehicle) %>
        </li>
        <li>
          <strong>Make: </strong><%= @vehicle.make %>
        </li>
        <li>
          <strong>Model: </strong><%= @vehicle.model %>
        </li>
        <li>
          <strong>Year: </strong><%= @vehicle.year %>
        </li>
        <li>
          <strong>Purchase Date: </strong><%= @vehicle.purchase_date %>
        </li>
        <li>
          <strong>Driver: </strong><%= assigned_driver(@vehicle) %>
        </li>
      </ul>
    </div>
    <div>
    <%= show_service_buttons %>
    </div>
  </div>

  <div class="toggle">
	  <p>
	    <%= current_services(@vehicle, service_list) %>
	  </p>
  </div>
  <div class="toggle" style="display: none;">
	 <p>
	   <%= full_service_history(@vehicle) %>
	 </p>
  </div>



</div>