<p id="notice"><%= notice %></p>

<div class="container">
	<p>
    <strong>Number:</strong>
    <%= @vehicle.number %>
    </p>
	<p>
	  <strong>Current mileage:</strong>
	  <%= number_with_delimiter(@vehicle.current_mileage) %>
	  <%= link_to "\(Update\)", edit_vehicle_path(@vehicle) %>
	</p>
	<div>
  	  <%= show_service_buttons %>
    </div>
    <br />
    <p class="btn btn-warning toggle">
		Show full service history
	</p>
	<p class="btn btn-warning toggle" style="display: none;">
		Show current service history
	</p>
  <div class="toggle">
	  <p>
	    <%= current_services(@vehicle, service_list) %>
	  </p>
	</div>
	<div class="toggle" style="display: none;">
	  <p>
	  	<%= full_service_history(@vehicle) %>
	  </p>
  </div>


</div>