<p id="notice"><%= notice %></p>

<div class="container"><p>
  <strong>Number:</strong>
  <%= @vehicle.number %>
</p>

<p>
  <strong>Current mileage:</strong>
  <%= @vehicle.current_mileage %>
  <%= link_to "\(Update\)", edit_vehicle_path(@vehicle) %>
</p>
<p>
	<%= render partial: 'current_services', locals: { items: @vehicle} %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
</div>