<p id="notice"><%= notice %></p>

<div class="container">
	<p>
    <h1>Vehicle <%= @vehicle.number %></h1>
    
    </p>
	<p>
	  <strong>Current mileage:</strong>
	  <%= number_with_delimiter(@vehicle.current_mileage) %>
	  <%= link_to "\(Update\)", edit_vehicle_path(@vehicle) %>
	</p>

    <p class="btn btn-info toggle">
		Show full service history
	</p>
	<p class="btn btn-warning toggle" style="display: none;">
		Show current service's
	</p>
  <div class="toggle">
	  <p>
	    <%= current_services(@vehicle, service_list) %>
	  </p>
  </div>
  <div class="toggle" style="display: none;">
	 <p>
	   <%= full_service_history(@vehicle) %>
	 </p>
  </div>
	<div>
	  <%= show_service_buttons %>
	</div>
</div>