<div class="container">
  <div class="row">
    <h1 class="col-md-3">Vehicle <%= @vehicle.number %></h1>   
  </div>

  <div class="col-md-4" style="float: right;">
    <div class="well">
      <ul>
        <li>
          <strong>Current Mileage: </strong><%= link_to number_with_delimiter(@vehicle.current_mileage), edit_vehicle_path(@vehicle) %>
        </li>
        <li>
          <strong>Make: </strong><%= @vehicle.make %>
        </li>
        <li>
          <strong>Model: </strong><%= @vehicle.model %>
        </li>
        <li>
          <strong>Gross Weight: </strong><%= @vehicle.gross_weight || "N/A" %>
        </li>
        <li>
          <strong>VIN#: </strong><%= @vehicle.vin_number || "N/A" %>
        </li>
        <li>
          <strong>License Plate: </strong><%= @vehicle.plate_number || "N/A" %>
        </li>
        <li>
          <strong>Year: </strong><%= @vehicle.year %>
        </li>
        <li>
          <strong>Purchase Date: </strong><%= @vehicle.purchase_date %>
        </li>
        <li>
          <strong>Driver: </strong><%= assigned_driver(@vehicle) %>
        </li>
      </ul>

    </div>
    <div>
    <%= render partial: 'service_buttons' %>
    </div>
  </div>

  <div class="services"> 
    <p>
      <%= render partial: 'last_service' %>
    </p>
  </div>


</div>
