<h1>Listing Report Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checklist_types.each do |checklist_type| %>
      <tr>
        <td><%= checklist_type.name %></td>
        <td><%= link_to 'Show', checklist_type %></td>
        <td><%= link_to 'Edit', edit_checklist_type_path(checklist_type) %></td>
        <td><%= link_to 'Destroy', checklist_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checked item type', new_checklist_type_path %>
